<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<hr [ngClass]="'container'">
<div [ngClass]="'container text-center'">
    <div [ngClass]="'navbar navbar-expand-lg'" style="position: relative;">
        <h6 style="color: rgb(165, 134, 93);">Copyright&copy;</h6>
        <h6><div class="right"><a style="color: rgb(165, 134, 93);" href="https://www.instagram.com/yaswanth_burri/">Instagram<span class="fa fa-instagram"></span></a></div></h6>
    </div>
</div>